{/*}
.register-page {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px;

    background:
        radial-gradient(
            circle at center,
            #183b70 0%,
            #0B1F4D 65%
        );
}

.register-card {
    width: 100%;
    max-width: 500px;

    background: #202424;

    padding: 40px;

    border-radius: 15px;

    border: 2px solid #F4C542;

    box-shadow:
        0 0 12px rgba(244,197,66,.25),
        0 6px 14px rgba(0,0,0,.25);

    color: white;
}

.register-card h1 {
    text-align: center;
    margin-bottom: 10px;
}

.register-subtitle {
    text-align: center;
    color: #d0d0d0;
    margin-bottom: 30px;
}

.register-group {
    margin-bottom: 20px;
}

.register-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.register-group input {
    width: 100%;

    padding: 12px;

    border: none;

    border-radius: 8px;

    font-size: 1rem;
}

.register-btn {
    width: 100%;

    background: #F4C542;
    color: #0B1F4D;

    border: none;

    padding: 15px;

    border-radius: 8px;

    font-size: 1rem;
    font-weight: bold;

    cursor: pointer;

    margin-top: 10px;
}

.register-btn:hover {
    box-shadow:
        0 0 12px rgba(244,197,66,.4);
}

.register-footer {
    text-align: center;
    margin-top: 20px;
}

.register-link {
    display: block;

    margin-top: 8px;

    color: #F4C542;

    font-weight: bold;

    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}

 */}